'.source.js':
  'red50':
    'prefix': 'red50'
    'body': 'red50'
  'red100':
    'prefix': 'red100'
    'body': 'red100'
  'red200':
    'prefix': 'red200'
    'body': 'red200'
  'red300':
    'prefix': 'red300'
    'body': 'red300'
  'red400':
    'prefix': 'red400'
    'body': 'red400'
  'red500':
    'prefix': 'red500'
    'body': 'red500'
  'red600':
    'prefix': 'red600'
    'body': 'red600'
  'red700':
    'prefix': 'red700'
    'body': 'red700'
  'red800':
    'prefix': 'red800'
    'body': 'red800'
  'red900':
    'prefix': 'red900'
    'body': 'red900'
  'redA100':
    'prefix': 'redA100'
    'body': 'redA100'
  'redA200':
    'prefix': 'redA200'
    'body': 'redA200'
  'redA400':
    'prefix': 'redA400'
    'body': 'redA400'
  'redA700':
    'prefix': 'redA700'
    'body': 'redA700'

  'pink50':
    'prefix': 'pink50'
    'body': 'pink50'
  'pink100':
    'prefix': 'pink100'
    'body': 'pink100'
  'pink200':
    'prefix': 'pink200'
    'body': 'pink200'
  'pink300':
    'prefix': 'pink300'
    'body': 'pink300'
  'pink400':
    'prefix': 'pink400'
    'body': 'pink400'
  'pink500':
    'prefix': 'pink500'
    'body': 'pink500'
  'pink600':
    'prefix': 'pink600'
    'body': 'pink600'
  'pink700':
    'prefix': 'pink700'
    'body': 'pink700'
  'pink800':
    'prefix': 'pink800'
    'body': 'pink800'
  'pink900':
    'prefix': 'pink900'
    'body': 'pink900'
  'pinkA100':
    'prefix': 'pinkA100'
    'body': 'pinkA100'
  'pinkA200':
    'prefix': 'pinkA200'
    'body': 'pinkA200'
  'pinkA400':
    'prefix': 'pinkA400'
    'body': 'pinkA400'
  'pinkA700':
    'prefix': 'pinkA700'
    'body': 'pinkA700'

  'purple50':
    'prefix': 'purple50'
    'body': 'purple50'
  'purple100':
    'prefix': 'purple100'
    'body': 'purple100'
  'purple200':
    'prefix': 'purple200'
    'body': 'purple200'
  'purple300':
    'prefix': 'purple300'
    'body': 'purple300'
  'purple400':
    'prefix': 'purple400'
    'body': 'purple400'
  'purple500':
    'prefix': 'purple500'
    'body': 'purple500'
  'purple600':
    'prefix': 'purple600'
    'body': 'purple600'
  'purple600':
    'prefix': 'purple600'
    'body': 'purple600'
  'purple700':
    'prefix': 'purple700'
    'body': 'purple700'
  'purple800':
    'prefix': 'purple800'
    'body': 'purple800'
  'purple900':
    'prefix': 'purple900'
    'body': 'purple900'
  'purpleA100':
    'prefix': 'purpleA100'
    'body': 'purpleA100'
  'purpleA200':
    'prefix': 'purpleA200'
    'body': 'purpleA200'
  'purpleA400':
    'prefix': 'purpleA400'
    'body': 'purpleA400'
  'purpleA700':
    'prefix': 'purpleA700'
    'body': 'purpleA700'

  'deepPurple50':
    'prefix': 'deepPurple50'
    'body': 'deepPurple50'
  'deepPurple100':
    'prefix': 'deepPurple100'
    'body': 'deepPurple100'
  'deepPurple200':
    'prefix': 'deepPurple200'
    'body': 'deepPurple200'
  'deepPurple300':
    'prefix': 'deepPurple300'
    'body': 'deepPurple300'
  'deepPurple400':
    'prefix': 'deepPurple400'
    'body': 'deepPurple400'
  'deepPurple500':
    'prefix': 'deepPurple500'
    'body': 'deepPurple500'
  'deepPurple600':
    'prefix': 'deepPurple600'
    'body': 'deepPurple600'
  'deepPurple600':
    'prefix': 'deepPurple600'
    'body': 'deepPurple600'
  'deepPurple700':
    'prefix': 'deepPurple700'
    'body': 'deepPurple700'
  'deepPurple800':
    'prefix': 'deepPurple800'
    'body': 'deepPurple800'
  'deepPurple900':
    'prefix': 'deepPurple900'
    'body': 'deepPurple900'
  'deepPurpleA100':
    'prefix': 'deepPurpleA100'
    'body': 'deepPurpleA100'
  'deepPurpleA200':
    'prefix': 'deepPurpleA200'
    'body': 'deepPurpleA200'
  'deepPurpleA400':
    'prefix': 'deepPurpleA400'
    'body': 'deepPurpleA400'
  'deepPurpleA700':
    'prefix': 'deepPurpleA700'
    'body': 'deepPurpleA700'

  'indigo50':
    'prefix': 'indigo50'
    'body': 'indigo50'
  'indigo100':
    'prefix': 'indigo100'
    'body': 'indigo100'
  'indigo200':
    'prefix': 'indigo200'
    'body': 'indigo200'
  'indigo300':
    'prefix': 'indigo300'
    'body': 'indigo300'
  'indigo400':
    'prefix': 'indigo400'
    'body': 'indigo400'
  'indigo500':
    'prefix': 'indigo500'
    'body': 'indigo500'
  'indigo600':
    'prefix': 'indigo600'
    'body': 'indigo600'
  'indigo600':
    'prefix': 'indigo600'
    'body': 'indigo600'
  'indigo700':
    'prefix': 'indigo700'
    'body': 'indigo700'
  'indigo800':
    'prefix': 'indigo800'
    'body': 'indigo800'
  'indigo900':
    'prefix': 'indigo900'
    'body': 'indigo900'
  'indigoA100':
    'prefix': 'indigoA100'
    'body': 'indigoA100'
  'indigoA200':
    'prefix': 'indigoA200'
    'body': 'indigoA200'
  'indigoA400':
    'prefix': 'indigoA400'
    'body': 'indigoA400'
  'indigoA700':
    'prefix': 'indigoA700'
    'body': 'indigoA700'

  'blue50':
    'prefix': 'blue50'
    'body': 'blue50'
  'blue100':
    'prefix': 'blue100'
    'body': 'blue100'
  'blue200':
    'prefix': 'blue200'
    'body': 'blue200'
  'blue300':
    'prefix': 'blue300'
    'body': 'blue300'
  'blue400':
    'prefix': 'blue400'
    'body': 'blue400'
  'blue500':
    'prefix': 'blue500'
    'body': 'blue500'
  'blue600':
    'prefix': 'blue600'
    'body': 'blue600'
  'blue600':
    'prefix': 'blue600'
    'body': 'blue600'
  'blue700':
    'prefix': 'blue700'
    'body': 'blue700'
  'blue800':
    'prefix': 'blue800'
    'body': 'blue800'
  'blue900':
    'prefix': 'blue900'
    'body': 'blue900'
  'blueA100':
    'prefix': 'blueA100'
    'body': 'blueA100'
  'blueA200':
    'prefix': 'blueA200'
    'body': 'blueA200'
  'blueA400':
    'prefix': 'blueA400'
    'body': 'blueA400'
  'blueA700':
    'prefix': 'blueA700'
    'body': 'blueA700'

  'lightBlue50':
    'prefix': 'lightBlue50'
    'body': 'lightBlue50'
  'lightBlue100':
    'prefix': 'lightBlue100'
    'body': 'lightBlue100'
  'lightBlue200':
    'prefix': 'lightBlue200'
    'body': 'lightBlue200'
  'lightBlue300':
    'prefix': 'lightBlue300'
    'body': 'lightBlue300'
  'lightBlue400':
    'prefix': 'lightBlue400'
    'body': 'lightBlue400'
  'lightBlue500':
    'prefix': 'lightBlue500'
    'body': 'lightBlue500'
  'lightBlue600':
    'prefix': 'lightBlue600'
    'body': 'lightBlue600'
  'lightBlue600':
    'prefix': 'lightBlue600'
    'body': 'lightBlue600'
  'lightBlue700':
    'prefix': 'lightBlue700'
    'body': 'lightBlue700'
  'lightBlue800':
    'prefix': 'lightBlue800'
    'body': 'lightBlue800'
  'lightBlue900':
    'prefix': 'lightBlue900'
    'body': 'lightBlue900'
  'lightBlueA100':
    'prefix': 'lightBlueA100'
    'body': 'lightBlueA100'
  'lightBlueA200':
    'prefix': 'lightBlueA200'
    'body': 'lightBlueA200'
  'lightBlueA400':
    'prefix': 'lightBlueA400'
    'body': 'lightBlueA400'
  'lightBlueA700':
    'prefix': 'lightBlueA700'
    'body': 'lightBlueA700'

  'cyan50':
    'prefix': 'cyan50'
    'body': 'cyan50'
  'cyan100':
    'prefix': 'cyan100'
    'body': 'cyan100'
  'cyan200':
    'prefix': 'cyan200'
    'body': 'cyan200'
  'cyan300':
    'prefix': 'cyan300'
    'body': 'cyan300'
  'cyan400':
    'prefix': 'cyan400'
    'body': 'cyan400'
  'cyan500':
    'prefix': 'cyan500'
    'body': 'cyan500'
  'cyan600':
    'prefix': 'cyan600'
    'body': 'cyan600'
  'cyan600':
    'prefix': 'cyan600'
    'body': 'cyan600'
  'cyan700':
    'prefix': 'cyan700'
    'body': 'cyan700'
  'cyan800':
    'prefix': 'cyan800'
    'body': 'cyan800'
  'cyan900':
    'prefix': 'cyan900'
    'body': 'cyan900'
  'cyanA100':
    'prefix': 'cyanA100'
    'body': 'cyanA100'
  'cyanA200':
    'prefix': 'cyanA200'
    'body': 'cyanA200'
  'cyanA400':
    'prefix': 'cyanA400'
    'body': 'cyanA400'
  'cyanA700':
    'prefix': 'cyanA700'
    'body': 'cyanA700'

  'teal50':
    'prefix': 'teal50'
    'body': 'teal50'
  'teal100':
    'prefix': 'teal100'
    'body': 'teal100'
  'teal200':
    'prefix': 'teal200'
    'body': 'teal200'
  'teal300':
    'prefix': 'teal300'
    'body': 'teal300'
  'teal400':
    'prefix': 'teal400'
    'body': 'teal400'
  'teal500':
    'prefix': 'teal500'
    'body': 'teal500'
  'teal600':
    'prefix': 'teal600'
    'body': 'teal600'
  'teal600':
    'prefix': 'teal600'
    'body': 'teal600'
  'teal700':
    'prefix': 'teal700'
    'body': 'teal700'
  'teal800':
    'prefix': 'teal800'
    'body': 'teal800'
  'teal900':
    'prefix': 'teal900'
    'body': 'teal900'
  'tealA100':
    'prefix': 'tealA100'
    'body': 'tealA100'
  'tealA200':
    'prefix': 'tealA200'
    'body': 'tealA200'
  'tealA400':
    'prefix': 'tealA400'
    'body': 'tealA400'
  'tealA700':
    'prefix': 'tealA700'
    'body': 'tealA700'

  'green50':
    'prefix': 'green50'
    'body': 'green50'
  'green100':
    'prefix': 'green100'
    'body': 'green100'
  'green200':
    'prefix': 'green200'
    'body': 'green200'
  'green300':
    'prefix': 'green300'
    'body': 'green300'
  'green400':
    'prefix': 'green400'
    'body': 'green400'
  'green500':
    'prefix': 'green500'
    'body': 'green500'
  'green600':
    'prefix': 'green600'
    'body': 'green600'
  'green600':
    'prefix': 'green600'
    'body': 'green600'
  'green700':
    'prefix': 'green700'
    'body': 'green700'
  'green800':
    'prefix': 'green800'
    'body': 'green800'
  'green900':
    'prefix': 'green900'
    'body': 'green900'
  'greenA100':
    'prefix': 'greenA100'
    'body': 'greenA100'
  'greenA200':
    'prefix': 'greenA200'
    'body': 'greenA200'
  'greenA400':
    'prefix': 'greenA400'
    'body': 'greenA400'
  'greenA700':
    'prefix': 'greenA700'
    'body': 'greenA700'

  'lightGreen50':
    'prefix': 'lightGreen50'
    'body': 'lightGreen50'
  'lightGreen100':
    'prefix': 'lightGreen100'
    'body': 'lightGreen100'
  'lightGreen200':
    'prefix': 'lightGreen200'
    'body': 'lightGreen200'
  'lightGreen300':
    'prefix': 'lightGreen300'
    'body': 'lightGreen300'
  'lightGreen400':
    'prefix': 'lightGreen400'
    'body': 'lightGreen400'
  'lightGreen500':
    'prefix': 'lightGreen500'
    'body': 'lightGreen500'
  'lightGreen600':
    'prefix': 'lightGreen600'
    'body': 'lightGreen600'
  'lightGreen600':
    'prefix': 'lightGreen600'
    'body': 'lightGreen600'
  'lightGreen700':
    'prefix': 'lightGreen700'
    'body': 'lightGreen700'
  'lightGreen800':
    'prefix': 'lightGreen800'
    'body': 'lightGreen800'
  'lightGreen900':
    'prefix': 'lightGreen900'
    'body': 'lightGreen900'
  'lightGreenA100':
    'prefix': 'lightGreenA100'
    'body': 'lightGreenA100'
  'lightGreenA200':
    'prefix': 'lightGreenA200'
    'body': 'lightGreenA200'
  'lightGreenA400':
    'prefix': 'lightGreenA400'
    'body': 'lightGreenA400'
  'lightGreenA700':
    'prefix': 'lightGreenA700'
    'body': 'lightGreenA700'

  'lime50':
    'prefix': 'lime50'
    'body': 'lime50'
  'lime100':
    'prefix': 'lime100'
    'body': 'lime100'
  'lime200':
    'prefix': 'lime200'
    'body': 'lime200'
  'lime300':
    'prefix': 'lime300'
    'body': 'lime300'
  'lime400':
    'prefix': 'lime400'
    'body': 'lime400'
  'lime500':
    'prefix': 'lime500'
    'body': 'lime500'
  'lime600':
    'prefix': 'lime600'
    'body': 'lime600'
  'lime600':
    'prefix': 'lime600'
    'body': 'lime600'
  'lime700':
    'prefix': 'lime700'
    'body': 'lime700'
  'lime800':
    'prefix': 'lime800'
    'body': 'lime800'
  'lime900':
    'prefix': 'lime900'
    'body': 'lime900'
  'limeA100':
    'prefix': 'limeA100'
    'body': 'limeA100'
  'limeA200':
    'prefix': 'limeA200'
    'body': 'limeA200'
  'limeA400':
    'prefix': 'limeA400'
    'body': 'limeA400'
  'limeA700':
    'prefix': 'limeA700'
    'body': 'limeA700'

  'yellow50':
    'prefix': 'yellow50'
    'body': 'yellow50'
  'yellow100':
    'prefix': 'yellow100'
    'body': 'yellow100'
  'yellow200':
    'prefix': 'yellow200'
    'body': 'yellow200'
  'yellow300':
    'prefix': 'yellow300'
    'body': 'yellow300'
  'yellow400':
    'prefix': 'yellow400'
    'body': 'yellow400'
  'yellow500':
    'prefix': 'yellow500'
    'body': 'yellow500'
  'yellow600':
    'prefix': 'yellow600'
    'body': 'yellow600'
  'yellow600':
    'prefix': 'yellow600'
    'body': 'yellow600'
  'yellow700':
    'prefix': 'yellow700'
    'body': 'yellow700'
  'yellow800':
    'prefix': 'yellow800'
    'body': 'yellow800'
  'yellow900':
    'prefix': 'yellow900'
    'body': 'yellow900'
  'yellowA100':
    'prefix': 'yellowA100'
    'body': 'yellowA100'
  'yellowA200':
    'prefix': 'yellowA200'
    'body': 'yellowA200'
  'yellowA400':
    'prefix': 'yellowA400'
    'body': 'yellowA400'
  'yellowA700':
    'prefix': 'yellowA700'
    'body': 'yellowA700'

  'amber50':
    'prefix': 'amber50'
    'body': 'amber50'
  'amber100':
    'prefix': 'amber100'
    'body': 'amber100'
  'amber200':
    'prefix': 'amber200'
    'body': 'amber200'
  'amber300':
    'prefix': 'amber300'
    'body': 'amber300'
  'amber400':
    'prefix': 'amber400'
    'body': 'amber400'
  'amber500':
    'prefix': 'amber500'
    'body': 'amber500'
  'amber600':
    'prefix': 'amber600'
    'body': 'amber600'
  'amber600':
    'prefix': 'amber600'
    'body': 'amber600'
  'amber700':
    'prefix': 'amber700'
    'body': 'amber700'
  'amber800':
    'prefix': 'amber800'
    'body': 'amber800'
  'amber900':
    'prefix': 'amber900'
    'body': 'amber900'
  'amberA100':
    'prefix': 'amberA100'
    'body': 'amberA100'
  'amberA200':
    'prefix': 'amberA200'
    'body': 'amberA200'
  'amberA400':
    'prefix': 'amberA400'
    'body': 'amberA400'
  'amberA700':
    'prefix': 'amberA700'
    'body': 'amberA700'

  'orange50':
    'prefix': 'orange50'
    'body': 'orange50'
  'orange100':
    'prefix': 'orange100'
    'body': 'orange100'
  'orange200':
    'prefix': 'orange200'
    'body': 'orange200'
  'orange300':
    'prefix': 'orange300'
    'body': 'orange300'
  'orange400':
    'prefix': 'orange400'
    'body': 'orange400'
  'orange500':
    'prefix': 'orange500'
    'body': 'orange500'
  'orange600':
    'prefix': 'orange600'
    'body': 'orange600'
  'orange600':
    'prefix': 'orange600'
    'body': 'orange600'
  'orange700':
    'prefix': 'orange700'
    'body': 'orange700'
  'orange800':
    'prefix': 'orange800'
    'body': 'orange800'
  'orange900':
    'prefix': 'orange900'
    'body': 'orange900'
  'orangeA100':
    'prefix': 'orangeA100'
    'body': 'orangeA100'
  'orangeA200':
    'prefix': 'orangeA200'
    'body': 'orangeA200'
  'orangeA400':
    'prefix': 'orangeA400'
    'body': 'orangeA400'
  'orangeA700':
    'prefix': 'orangeA700'
    'body': 'orangeA700'

  'deepOrange50':
    'prefix': 'deepOrange50'
    'body': 'deepOrange50'
  'deepOrange100':
    'prefix': 'deepOrange100'
    'body': 'deepOrange100'
  'deepOrange200':
    'prefix': 'deepOrange200'
    'body': 'deepOrange200'
  'deepOrange300':
    'prefix': 'deepOrange300'
    'body': 'deepOrange300'
  'deepOrange400':
    'prefix': 'deepOrange400'
    'body': 'deepOrange400'
  'deepOrange500':
    'prefix': 'deepOrange500'
    'body': 'deepOrange500'
  'deepOrange600':
    'prefix': 'deepOrange600'
    'body': 'deepOrange600'
  'deepOrange600':
    'prefix': 'deepOrange600'
    'body': 'deepOrange600'
  'deepOrange700':
    'prefix': 'deepOrange700'
    'body': 'deepOrange700'
  'deepOrange800':
    'prefix': 'deepOrange800'
    'body': 'deepOrange800'
  'deepOrange900':
    'prefix': 'deepOrange900'
    'body': 'deepOrange900'
  'deepOrangeA100':
    'prefix': 'deepOrangeA100'
    'body': 'deepOrangeA100'
  'deepOrangeA200':
    'prefix': 'deepOrangeA200'
    'body': 'deepOrangeA200'
  'deepOrangeA400':
    'prefix': 'deepOrangeA400'
    'body': 'deepOrangeA400'
  'deepOrangeA700':
    'prefix': 'deepOrangeA700'
    'body': 'deepOrangeA700'

  'brown50':
    'prefix': 'brown50'
    'body': 'brown50'
  'brown100':
    'prefix': 'brown100'
    'body': 'brown100'
  'brown200':
    'prefix': 'brown200'
    'body': 'brown200'
  'brown300':
    'prefix': 'brown300'
    'body': 'brown300'
  'brown400':
    'prefix': 'brown400'
    'body': 'brown400'
  'brown500':
    'prefix': 'brown500'
    'body': 'brown500'
  'brown600':
    'prefix': 'brown600'
    'body': 'brown600'
  'brown600':
    'prefix': 'brown600'
    'body': 'brown600'
  'brown700':
    'prefix': 'brown700'
    'body': 'brown700'
  'brown800':
    'prefix': 'brown800'
    'body': 'brown800'
  'brown900':
    'prefix': 'brown900'
    'body': 'brown900'

  'blueGrey50':
    'prefix': 'blueGrey50'
    'body': 'blueGrey50'
  'blueGrey100':
    'prefix': 'blueGrey100'
    'body': 'blueGrey100'
  'blueGrey200':
    'prefix': 'blueGrey200'
    'body': 'blueGrey200'
  'blueGrey300':
    'prefix': 'blueGrey300'
    'body': 'blueGrey300'
  'blueGrey400':
    'prefix': 'blueGrey400'
    'body': 'blueGrey400'
  'blueGrey500':
    'prefix': 'blueGrey500'
    'body': 'blueGrey500'
  'blueGrey600':
    'prefix': 'blueGrey600'
    'body': 'blueGrey600'
  'blueGrey600':
    'prefix': 'blueGrey600'
    'body': 'blueGrey600'
  'blueGrey700':
    'prefix': 'blueGrey700'
    'body': 'blueGrey700'
  'blueGrey800':
    'prefix': 'blueGrey800'
    'body': 'blueGrey800'
  'blueGrey900':
    'prefix': 'blueGrey900'
    'body': 'blueGrey900'

  'grey50':
    'prefix': 'grey50'
    'body': 'grey50'
  'grey100':
    'prefix': 'grey100'
    'body': 'grey100'
  'grey200':
    'prefix': 'grey200'
    'body': 'grey200'
  'grey300':
    'prefix': 'grey300'
    'body': 'grey300'
  'grey400':
    'prefix': 'grey400'
    'body': 'grey400'
  'grey500':
    'prefix': 'grey500'
    'body': 'grey500'
  'grey600':
    'prefix': 'grey600'
    'body': 'grey600'
  'grey600':
    'prefix': 'grey600'
    'body': 'grey600'
  'grey700':
    'prefix': 'grey700'
    'body': 'grey700'
  'grey800':
    'prefix': 'grey800'
    'body': 'grey800'
  'grey900':
    'prefix': 'grey900'
    'body': 'grey900'
