# coffeelint: disable=max_line_length
'.source.js':
  "import AppBar from 'material-ui/AppBar';":
    'prefix': 'import AppBar'
    'body': "import AppBar from 'material-ui/AppBar';"
    'description': 'The app bar, formerly known as the action bar in Android, is a special kind of toolbar that’s used for branding, navigation, search, and actions.'
    'descriptionMoreURL': 'http://www.material-ui.com/#/components/app-bar'

  "import AutoComplete from 'material-ui/AutoComplete';":
    'prefix': 'import AutoComplete'
    'body': "import AutoComplete from 'material-ui/AutoComplete';"
    'description': 'The auto-complete is an extension of a regular text-field that will auto-complete the input dynamically.'
    'descriptionMoreURL': 'http://www.material-ui.com/#/components/auto-complete'

  "import Avatar from 'material-ui/Avatar';":
    'prefix': 'import Avatar'
    'body': "import Avatar from 'material-ui/Avatar';"
    'description': 'Avatars can be used to represent people or object.'
    'descriptionMoreURL': 'http://www.material-ui.com/#/components/avatar'

  "import Badge from 'material-ui/Badge';":
    'prefix': 'import Badge'
    'body': "import Badge from 'material-ui/Badge';"
    'description': 'This component generates a small badge to the top-right of its child(ren).'
    'descriptionMoreURL': 'http://www.material-ui.com/#/components/badge'

  "import { BottomNavigation, BottomNavigationItem } from 'material-ui/BottomNavigation';":
    'prefix': 'import BottomNavigation'
    'body': "import { BottomNavigation, BottomNavigationItem } from 'material-ui/BottomNavigation';"
    'description': 'The bottom navigation is a special kind of toolbar that’s used for navigation.'
    'descriptionMoreURL': 'http://www.material-ui.com/#/components/bottom-navigation'

  "import FlatButton from 'material-ui/FlatButton';":
    'prefix': 'import FlatButton'
    'body': "import FlatButton from 'material-ui/FlatButton';"
    'description': 'Flat Buttons are used for general functions and reduce the amount of layering on the screen, making it more readable.'
    'descriptionMoreURL': 'http://www.material-ui.com/#/components/flat-button'

  "import RaisedButton from 'material-ui/RaisedButton';":
    'prefix': 'import RaisedButton'
    'body': "import RaisedButton from 'material-ui/RaisedButton';"
    'description': 'This button is used to add dimension to mostly flat layouts and emphasizes important functions on your page.'
    'descriptionMoreURL': 'http://www.material-ui.com/#/components/raised-button'

  "import FloatingActionButton from 'material-ui/FloatingActionButton';":
    'prefix': 'import FloatingActionButton'
    'body': "import FloatingActionButton from 'material-ui/FloatingActionButton';"
    'description': 'The Floating Action Button is used for frequently used functions.'
    'descriptionMoreURL': 'http://www.material-ui.com/#/components/floating-action-button'

  "import IconButton from 'material-ui/IconButton';":
    'prefix': 'import IconButton'
    'body': "import IconButton from 'material-ui/IconButton';"
    'description': 'An Icon Button generates a button element around an icon.'
    'descriptionMoreURL': 'http://www.material-ui.com/#/components/icon-button'

  "import { Card } from 'material-ui/Card';":
    'prefix': 'import Card'
    'body': "import { $1Card, CardActions, CardHeader, CardMedia, CardTitle, CardText } from 'material-ui/Card';"
    'description': 'A card is a piece of paper with unique related data that serves as an entry point to more detailed information.'
    'descriptionMoreURL': 'http://www.material-ui.com/#/components/card'

  "import Chip from 'material-ui/Chip';":
    'prefix': 'import Chip'
    'body': "import Chip from 'material-ui/Chip';"
    'description': 'Chips represent complex entities in small blocks, such as a contact.'
    'descriptionMoreURL': 'http://www.material-ui.com/#/components/chip'

  "import DatePicker from 'material-ui/DatePicker';":
    'prefix': 'import DatePicker'
    'body': "import DatePicker from 'material-ui/DatePicker';"
    'description': 'Date Pickers are used to select a single date for an input.'
    'descriptionMoreURL': 'http://www.material-ui.com/#/components/date-picker'

  "import Dialog from 'material-ui/Dialog';":
    'prefix': 'import Dialog'
    'body': "import Dialog from 'material-ui/Dialog';"
    'description': 'Dialogs contain text and UI controls focused on a specific task.'
    'descriptionMoreURL': 'http://www.material-ui.com/#/components/dialog'

  "import Divider from 'material-ui/Divider';":
    'prefix': 'import Divider'
    'body': "import Divider from 'material-ui/Divider';"
    'description': 'Dividers group and separate content within lists and page layouts.'
    'descriptionMoreURL': 'http://www.material-ui.com/#/components/divider'

  "import Drawer from 'material-ui/Drawer';":
    'prefix': 'import Drawer'
    'body': "import Drawer from 'material-ui/Drawer';"
    'description': 'The Drawer slides in from the side.'
    'descriptionMoreURL': 'http://www.material-ui.com/#/components/drawer'

  "import { GridList, GridTile } from 'material-ui/GridList';":
    'prefix': 'import GridList'
    'body': "import { GridList, GridTile } from 'material-ui/GridList';"
    'description': 'Simple flex-box based Grid List implementation.'
    'descriptionMoreURL': 'http://www.material-ui.com/#/components/grid-list'

  "import Paper from 'material-ui/Paper';":
    'prefix': 'import Paper'
    'body': "import Paper from 'material-ui/Paper';"
    'description': 'A Paper element is a basic container that can give depth to the page.'
    'descriptionMoreURL': 'http://www.material-ui.com/#/components/paper'

  "import Popover from 'material-ui/Popover';":
    'prefix': 'import Popover'
    'body': "import Popover from 'material-ui/Popover';"
    'description': 'A Popover can be used as an alternative to a Drop Down Menu that can contain elements inside.'
    'descriptionMoreURL': 'http://www.material-ui.com/#/components/popover'

  "import CircularProgress from 'material-ui/CircularProgress';":
    'prefix': 'import CircularProgress'
    'body': "import CircularProgress from 'material-ui/CircularProgress';"
    'description': 'Circular Progress will rotate to show the progress of a task or that there is a wait for a task to complete.'
    'descriptionMoreURL': 'http://www.material-ui.com/#/components/circular-progress'

  "import LinearProgress from 'material-ui/LinearProgress';":
    'prefix': 'import LinearProgress'
    'body': "import LinearProgress from 'material-ui/LinearProgress';"
    'description': 'Linear Progress bars fill from 0% to 100% to show the progress of a task.'
    'descriptionMoreURL': 'http://www.material-ui.com/#/components/linear-progress'

  "import RefreshIndicator from 'material-ui/RefreshIndicator';":
    'prefix': 'import RefreshIndicator'
    'body': "import RefreshIndicator from 'material-ui/RefreshIndicator';"
    'description': 'The refresh indicator is used when showing an item is loading.'
    'descriptionMoreURL': 'http://www.material-ui.com/#/components/refresh-indicator'

  "import SelectField from 'material-ui/SelectField';":
    'prefix': 'import SelectField'
    'body': "import SelectField from 'material-ui/SelectField';"
    'description': 'To learn more about SelectField please visit the specifications here.'
    'descriptionMoreURL': 'http://www.material-ui.com/#/components/select-field'

  "import Slider from 'material-ui/Slider';":
    'prefix': 'import Slider'
    'body': "import Slider from 'material-ui/Slider';"
    'description': 'A slider is an interface for users to input a value in a range.'
    'descriptionMoreURL': 'http://www.material-ui.com/#/components/slider'

  "import Checkbox from 'material-ui/Checkbox';":
    'prefix': 'import Checkbox'
    'body': "import Checkbox from 'material-ui/Checkbox';"
    'description': 'A checkbox is used to verify which options you want selected from a group.'
    'descriptionMoreURL': 'http://www.material-ui.com/#/components/checkbox'

  "import { RadioButton, RadioButtonGroup } from 'material-ui/RadioButton';":
    'prefix': 'import RadioButton'
    'body': "import { RadioButton, RadioButtonGroup } from 'material-ui/RadioButton';"
    'description': 'Radio buttons are switches used for selection from multiple options.'
    'descriptionMoreURL': 'http://www.material-ui.com/#/components/radio-button'

  "import Toggle from 'material-ui/Toggle';":
    'prefix': 'import Toggle'
    'body': "import Toggle from 'material-ui/Toggle';"
    'description': 'A toggle switch is used as an on/off control.'
    'descriptionMoreURL': 'http://www.material-ui.com/#/components/toggle'

  "import Snackbar from 'material-ui/Snackbar';":
    'prefix': 'import Snackbar'
    'body': "import Snackbar from 'material-ui/Snackbar';"
    'description': 'Snackbars provide lightweight feedback about an operation by showing a brief message at the bottom of the screen.'
    'descriptionMoreURL': 'http://www.material-ui.com/#/components/snackbar'

  "import { Step, Stepper, StepLabel } from 'material-ui/Stepper';":
    'prefix': 'import Stepper'
    'body': "import { Step, Stepper, StepLabel } from 'material-ui/Stepper';"
    'description': 'A stepper is an interface for users to show numbered steps or for navigation.'
    'descriptionMoreURL': 'http://www.material-ui.com/#/components/stepper'

  "import Subheader from 'material-ui/Subheader';":
    'prefix': 'import Subheader'
    'body': "import Subheader from 'material-ui/Subheader';"
    'description': 'Subheaders are special list tiles that delineate distinct sections of a list or grid list and are typically related to the current filtering or sorting criteria.'
    'descriptionMoreURL': 'http://www.material-ui.com/#/components/subheader'

  "import { Table, TableBody, TableHeader, TableHeaderColumn, TableRow, TableRowColumn } from 'material-ui/Table';":
    'prefix': 'import Table'
    'body': "import { Table, TableBody, TableHeader, TableHeaderColumn, TableRow, TableRowColumn } from 'material-ui/Table';"
    'description': 'Tables are used to display data and to organize it.'
    'descriptionMoreURL': 'http://www.material-ui.com/#/components/table'

  "import { Tabs, Tab } from 'material-ui/Tabs';":
    'prefix': 'import Tabs'
    'body': "import { Tabs, Tab } from 'material-ui/Tabs';"
    'description': 'Tabs make it easy to explore and switch between different views or functional aspects of an app or to browse categorized data sets.'
    'descriptionMoreURL': 'http://www.material-ui.com/#/components/tabs'

  "import TextField from 'material-ui/TextField';":
    'prefix': 'import TextField'
    'body': "import TextField from 'material-ui/TextField';"
    'description': 'Text fields allow users to input text.'
    'descriptionMoreURL': 'http://www.material-ui.com/#/components/text-field'

  "import TimePicker from 'material-ui/TimePicker';":
    'prefix': 'import TimePicker'
    'body': "import TimePicker from 'material-ui/TimePicker';"
    'description': 'A time picker is used to input a time by displaying an interface the user can interact with.'
    'descriptionMoreURL': 'http://www.material-ui.com/#/components/time-picker'

  "import { Toolbar, ToolbarGroup, ToolbarSeparator, ToolbarTitle } from 'material-ui/Toolbar';":
    'prefix': 'import Toolbar'
    'body': "import { Toolbar, ToolbarGroup, ToolbarSeparator, ToolbarTitle } from 'material-ui/Toolbar';"
    'description': 'Toolbars are collections of components stacked horizontally against each other.'
    'descriptionMoreURL': 'http://www.material-ui.com/#/components/toolbar'
